#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 295px 12px 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 500px;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content p {
    color: black;
    margin: 10px 16px;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.dropdown-content p:hover {
	background-color: #ddd;
	text-decoration: underline;
	cursor: pointer;
}

.show {display: block;}

