
title {
  display: none;
  font-style: oblique;
  font-size:  60;

}

link {
  display: none;
}

.right {
  text-align:  right;
}

.topbar {
  color: 33CAFF;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Search Bar CSS Design*/
*
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
	background: url(https://www.massey.ac.nz/massey/fms/Web%20office/explore/hero%20images/Hero---natural-environment.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial;
}

body
{
    margin: 0;
    background-color: #000000;
}

input, button
{
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    margin-top: 20px;
    width: fit-content;
    padding: 20px;
    background-color: #00DD00;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

form
{
    height: 96px;
}

input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 50px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #3c7a36;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#myInput {
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 0px 12px 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  height: fit-content;
  max-width: 440px;
}

myInput:focus {
	outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 500px;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 10px;
  max-height: 200px;
}

.dropdown-content p {
    color: black;
	margin: 0px 0px;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    width: auto;
	height: auto;
}

.dropdown-content p:hover {
	background-color: #ddd;
	text-decoration: underline;
	cursor: pointer;
}

.show {display: block;}

#result {
    background-color: white;
    border-radius: 10px;
	max-width: 496px;
}

#container {
	margin: auto;
	max-width: 1000px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 10px;
	backdrop-filter: blur(3px);
}

h1 {
	margin: 5px;
}

.title {
	text-align: center;
	font-size: 25px;
}

img {
	width: 400px;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

